/*
 * Copyright 2011, L. Murer.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see < http://www.gnu.org/licenses/ >.
 */

body {
    background: url(/public/images/bg.jpg) center top no-repeat #eaecde;
}

div.navi {
    width: 100%;
    height: 35px;
    padding-top: 5px;
}

div.navi > div {
    display: inline !important;
}

div.navi > div > div {
    display: inline !important;
    margin: auto 30px;
}

div.navi span {
    position: relative;
    left: auto;
}

div.navi a {
    text-decoration: underline;
}