/*
 * Copyright 2011, L. Murer.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    background: #eaecde;
    margin: 50px;
    text-align: center;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

@media screen and (min-device-width: 481px) {
    body {
        background: url(/public/images/bg.jpg) center top no-repeat, url(/public/images/bg_spiegelung.jpg) repeat !important;
        background-size: 100% auto, 100% auto !important;
    }
}

div.navi {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5) !important;
    background: white;
}

div.navi a {
    margin: auto 30px;
    text-decoration: none;
}

div.navi a.faq {
    margin-left: 60px;
}

div.content {
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 100px auto 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 788px;
    text-align: left;
}

div.content h1 {
    margin-left: 10px;
}

a, .likealink {
    color: gray;
}

#fahrplantabelle {
    border-spacing: 0;
}

#fahrplantabelle td {
    white-space: nowrap;
}

#fahrplantabelle .odd td {
    background: #f7f7fc;
}

.footer {
    font-size: xx-small;
    position: fixed;
    bottom: 0;
    right: 2px;
}

.ui-menu-item {
    font-size: small;
    text-align: left;
}

.ui-menu .ui-menu-item a {
    line-height: 1 !important;
}

input.autocompleteStation {
    width: 160px;
}

#mixstraight {
    margin-left: 80px;
    display: block;
}

label {
    margin-right: 5px;
}