*{
* Copyright 2011, L. Murer.
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see < http://www.gnu.org/licenses/ >.
}*

#{extends 'main.html' /}
#{set title:'Der effiziente Fahrplan: FAQ' /}

<h2>Frequently Asked Questions</h2>

<ul>
    <li><a href="#wen">Für wen ist diese Seite?</a></li>
    <li><a href="#wem">Von wem ist diese Seite?</a></li>
    <li><a href="#sbb">Was ist das Verhältnis zur SBB?</a></li>
    <li><a href="#disclaimer">Wie darf ich es benutzen?</a></li>
    <li><a href="#verbessern">Wie kann ich die Seite verbessern?</a></li>
    <li><a href="#mehr">Ich tscheggs immer no nöd.</a></li>
</ul>

<p>&nbsp;</p>
<p>&nbsp;</p>

<a name="wen"></a><h4>Für wen ist diese Seite?</h4>
<p>Diese Seite ist für alle regelmässigen Benützer des öffentlichen Verkehrs. Sie vereinfacht im Prinzip folgende
    Abfragen:</p>
<ol type="a">
    <li>Mehrere Stationen sind vom eigenen Standort gleich weit entfernt:
        <a href="http://map.search.ch/maschwanden?x=144m&y=8m&z=64&poi=zug" target="_blank"><img
                src="/public/images/faq_map.search.ch1.jpg"
                alt="Mehrere Stationen sind vom eigenen Standort gleich weit entfernt" style="width: 100%;"></a>
        An welchen Bahnhof soll ich jetzt gehen? Mit dem offiziellen SBB Fahrplan müssten jetzt drei Anfragen gestellt
        werden. Mit dieser Seite hier ist nunmehr nur noch eine Anfrage nötig. Und ausserdem kann sie als Lesezeichen
        abgespeichert werden!<br>
        <a href="@{Application.showTimetable()}?start[]=Mühlau&start[]=Mettmenstetten&start[]=Knonau&start[]=&crossover=true&stop[]=Luzern&stop[]=&timeAsDeparture=true">Beispielabfrage</a>
    </li>
    <li>Mehrere parallelle Verbindungen sind erdenkbar:
        <a href="http://map.search.ch/oerlikon-zuerich?x=-616m&y=-1744m&z=64&poi=zug" target="_blank"><img
                src="/public/images/faq_map.search.ch2.jpg" alt="Mehrere parallelle Verbindungen" style="width: 100%;"></a>
        Nach Hause gibt es von Zürich HB aus zwei mögliche Routen. Erstens, ich könnte mit dem Zug nach Oerlikon fahren
        und von dort zu Fuss nach Hause laufen, oder ich nehme das Tram direkt vor meine Haustüre. Da das Tram jedoch
        leider bedeutend länger hat als der Zug, nehme ich trotzdem lieber ein Zug, falls er gerade fährt. Da ich diese
        Überlegungen und damit verbundenen Abfragen nicht immer und immer wieder durchführen muss, kann ich mir einfach
        ein Lesezeichen auf die Ergebnisanzeige mit der aktuellen Uhrzeit (Link oben: "zu aktueller Uhrzeit") speichern.<br>
        <a href="@{Application.showTimetable()}?start[]=Zürich+HB&start[]=Zürich%2C+Bahnhofplatz%2FHB&start[]=&crossover=false&stop[]=Zürich+Oerlikon&stop[]=Zürich%2C+Regensbergbrücke&stop[]=&timeAsDeparture=true">Beispielabfrage</a>
    </li>
</ol>

<a name="wem"></a><h4>Von wem ist diese Seite?</h4>
<img src="@{'/public/images/cloudbees.png'}" alt="CloudBees" style="float: right;">
<p>Diese Seite wurde von <a
        href="http://www.google.com/recaptcha/mailhide/d?k=01AhtrkbDIr6bRdy2uE4kKag==&amp;c=VoeIzlB9yHo9MRAs1ldDcckECe2uJRUxhf7HEYwnVKs="
        onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501AhtrkbDIr6bRdy2uE4kKag\75\75\46c\75VoeIzlB9yHo9MRAs1ldDcckECe2uJRUxhf7HEYwnVKs\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;">Laurin
    Murer</a>
    als Student der <a href="http://www.hsr.ch/" target="_blank">Fachhochschule Rapperswil</a> entwickelt. Sie wird in
    der Hoffnung zur Verfügung gestellt, dass sie nützlich ist - jedoch ohne irgendeiner Garantie. Sie unterliegt der <a
            href="http://www.gnu.org/licenses/" target="_blank">GNU General Public License version 3</a>. Der Quellcode
    der Seite ist <a href="https://github.com/1tchy/Advanced-Public-Transport-Timetables" target="_blank">auf Github
        frei verfügbar</a>, und als OpenSource-Projekt wird es von <a href="http://www.cloudbees.com/" target="_blank">CloudBees</a>
    gratis gehosted.</p>

<a name="sbb"></a><h4>Was ist das Verhältnis zur SBB?</h4>
<p>Diese Seite hat keine Verbindung zur <a href="http://www.sbb.ch/" target="_blank">SBB</a>. Sie verfolgt auch keine
    kommerziellen Ziele und kann sich dadurch auf <a href="http://www.admin.ch/ch/d/sr/745_13/a10.html" target="_blank">SR
        745.13 Art. 10</a> Punkt 2 und 3 beziehen. Die Daten stammen von <a href="http://transport.opendata.ch/"
                                                                            target="_blank">Opendata.ch</a>.</p>

<a name="disclaimer"></a><h4>Wie darf ich es benutzen?</h4>
<p>Dieses Webanwendung ist Freie Software: Sie wird in der Hoffnung, dass sie nützlich sein wird, aber <b>ohne jede
    Gewährleistung</b>, bereitgestellt; sogar ohne die implizite Gewährleistung der <b>Marktfähigkeit</b> oder <b>Eignung
    für einen bestimmten Zweck</b>. Siehe die <a href="http://www.gnu.org/licenses/" target="_blank">GNU General Public
    License</a> für weitere Details.</p>

<a name="verbessern"></a><h4>Wie kann ich die Seite verbessern?</h4>
<p>Schreib' mir ein Mail: <a
        href="http://www.google.com/recaptcha/mailhide/d?k=01AhtrkbDIr6bRdy2uE4kKag==&amp;c=VoeIzlB9yHo9MRAs1ldDcckECe2uJRUxhf7HEYwnVKs="
        onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501AhtrkbDIr6bRdy2uE4kKag\75\75\46c\75VoeIzlB9yHo9MRAs1ldDcckECe2uJRUxhf7HEYwnVKs\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;">schneller-dort@...</a>
    oder forke das <a href="https://github.com/1tchy/Advanced-Public-Transport-Timetables" target="_blank">Projekt auf
        github</a>.
</p>

<a name="mehr"></a><h4>Ich tscheggs immer no nöd.</h4>
<p>Wenn du immer noch nicht draus kommst, hast du folgende Möglichkeiten: (bitte der Reihe nach probieren)</p>
<ol>
    <li>Probiers einfach mal aus.</li>
    <li>Frag deine Geschwister/Eltern/Arbeitskollegen/... um ihre Unterstützung.</li>
    <li>Bitte mich, einen neuen Eintrag in diese FAQ aufzunehmen: <a
            href="http://www.google.com/recaptcha/mailhide/d?k=01AhtrkbDIr6bRdy2uE4kKag==&amp;c=VoeIzlB9yHo9MRAs1ldDcckECe2uJRUxhf7HEYwnVKs="
            onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501AhtrkbDIr6bRdy2uE4kKag\75\75\46c\75VoeIzlB9yHo9MRAs1ldDcckECe2uJRUxhf7HEYwnVKs\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;">schneller-dort@...</a>.
    </li>
</ol>