*{
* Copyright 2011, L. Murer.
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see < http://www.gnu.org/licenses/ >.
}*

#{extends 'main.html' /}
#{set title:'Der effiziente Fahrplan' /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.13.custom.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui-1.8.13.custom.min.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/prettify.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/autocomplete-value.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/autocomplete.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

#{ifErrors}
<h3>Fehler</h3>
<ul>
    #{errors}
        <li>
        ${error.raw()}
        </li>
    #{/errors}
</ul>
#{/ifErrors}

<form action="@{Application.showTimetable()}" method="GET">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <label for="newstart">Von:</label>
            </td>
            <td id="start">
            #{list items:start, as:'s'}
                #{if s != ""}
                    <input class="autocompleteStation" type="text" name="start[]" value="${s}" onkeyup="check('start');"
                           data-url="@{Application.autocompleteStation()}"/>
                #{/if}
            #{/list}
                <input id="newstart" class="autocompleteStation" type="text" name="start[]" value=""
                       onkeyup="check('start');" data-url="@{Application.autocompleteStation()}"/>
            </td>
        </tr>
        <tr>
            <td><label>Link:</label></td>
            <td>
                <a href="#" onclick="changeStraight(document.getElementById('crossoverYes').checked)"
                   onmouseover="changeImage(true);" onmouseout="changeImage(false);"><img id="mixstraight"
                                                                                          src="@{'/public/images/mix/22.png'}"
                                                                                          alt="todo"></a>
                <input type="radio" id="crossoverYes" name="crossover" value="true"#{if crossover!='false'}
                       checked#{/if} style="display: none;">
                <input type="radio" id="crossoverNo" name="crossover" value="false"
                       #{if crossover=='false'}checked#{/if} style="display: none;">
            </td>
        </tr>
        <tr>
            <td>
                <label for="newstop">Nach:</label>
            </td>
            <td>
                <div id="stop">
                #{list items:stop, as:'s'}#{if s != ""}
                    <input class="autocompleteStation" type="text" name="stop[]" value="${s}"
                           onkeyup="check('stop');" data-url="@{Application.autocompleteStation()}"/>
                #{/if}#{/list}
                    <input class="autocompleteStation" id="newstop" type="text" name="stop[]" value=""
                           onkeyup="check('stop');" data-url="@{Application.autocompleteStation()}"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="time">Zeit:</label>
            </td>
            <td>
                <input id="time" type="time" name="time"
                       value="#{if time?.size()>1}${time}#{/if}#{else}${now}#{/else}"
                       maxlength="5" style="width:50px;"/>
                <input id="timeAsDeparture" type="radio" name="timeAsDeparture" value="true"#{if
                timeAsDeparture!='false'}checked#{/if}/><label for="timeAsDeparture">als Abfahrtszeit</label>
                <input id="timeAsArrival" type="radio" name="timeAsDeparture" value="false"#{if
                timeAsDeparture=='false'}checked#{/if}/><label for="timeAsArrival">als Ankunftszeit</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <button type="submit"> Submit</button>
            </td>
        </tr>
    </table>

</form>

<script type="text/javascript">
    function changeStraight(toStraight) {
        if (toStraight) {
            document.getElementById("crossoverNo").checked = true;
        } else {
            document.getElementById("crossoverYes").checked = true;
            check("stop");
        }
        check("start");
        document.focus();
    }
    function changeImage(hover) {
        var anzahl_start = document.getElementById("start").getElementsByTagName("input").length;
        var anzahl_stop = document.getElementById("stop").getElementsByTagName("input").length;
        var straight = document.getElementById("crossoverNo").checked;
        if (hover) straight = !straight;
        document.getElementById("mixstraight").src = "@{'/public/images'}/" + (straight ? "straight" : "mix") + "/" + anzahl_start + (straight ? "" : anzahl_stop) + ".png";
    }
    function addField(ofType) {
        field = document.createElement("input");
        field.setAttribute("class", "autocompleteStation");
        field.setAttribute("type", "text");
        field.setAttribute("name", ofType + "[]");
        field.setAttribute("onkeyup", "check('" + ofType + "');");
        field.setAttribute("data-url", "@{Application.autocompleteStation()}");
        field.setAttribute("style", "margin-right:5px;");
        document.getElementById(ofType).appendChild(field);
        autocomplete();
    }

    function check(whatToCheck) {
        var needAlignement = document.getElementById("crossoverNo").checked;
        if (needAlignement) {
            var starts = document.getElementById("start").getElementsByTagName("input");
            var stops = document.getElementById("stop").getElementsByTagName("input");
            var doubleEmptyFieldPresent = true;
            if (starts.length < stops.length) {
                for (var j = stops.length - starts.length; j > 0; j--) {
                    addField("start");
                }
            } else if (starts.length > stops.length) {
                for (var jj = starts.length - stops.length; jj > 0; jj--) {
                    addField("stop");
                }
            } else {
                doubleEmptyFieldPresent = starts[starts.length - 1].value == "" && stops[stops.length - 1].value == "";
                for (var ii = starts.length - 2; ii >= 0; ii--) {
                    if (starts[ii].value == "" && stops[ii].value == "" && starts[ii + 1].value == "" && stops[ii + 1].value == "" && document.getElementById("start").getElementsByTagName("input").length > 2) {
                        document.getElementById("start").removeChild(starts[ii]);
                        document.getElementById("stop").removeChild(stops[ii]);
                        doubleEmptyFieldPresent = true;
                    }
                }
                if (!doubleEmptyFieldPresent) {
                    addField("start");
                    addField("stop");
                }
            }
        } else {
            var inputs = document.getElementById(whatToCheck).getElementsByTagName("input");
            var emptyField = -1;
            for (var i = inputs.length - 1; i >= 0; i--) {
                if (inputs[i].value == "") {
                    if (emptyField == i + 1 && document.getElementById(whatToCheck).getElementsByTagName("input").length > 2) {
                        document.getElementById(whatToCheck).removeChild(inputs[emptyField]);
                    }
                    emptyField = i;
                }
            }
            if (emptyField == -1) {
                addField(whatToCheck);
            }
        }
        changeImage(false);
    }

    function autocomplete() {
        $('input.autocompleteStation').each(function () {
            var $input = $(this);
            var serverUrl = $input.data('url');
            $input.autocomplete({ source:serverUrl });
        });
    }
    autocomplete();
    changeImage(false);
</script>