*{
* Copyright 2011, L. Murer.
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see < http://www.gnu.org/licenses/ >.
}*

#{extends 'main.html' /}
#{set title:'Der effiziente Fahrplan' /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.13.custom.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui-1.8.13.custom.min.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/prettify.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/autocomplete-value.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/autocomplete.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

#{ifErrors}
<h3>Fehler</h3>
<ul>
    #{errors}
        <li>
        ${error.raw()}
        </li>
    #{/errors}
</ul>
#{/ifErrors}

<form action="@{Application.showTimetable()}" method="GET">
    <table border="0">
        <tr>
            <td>
                <label for="newstart">Von:</label>
            </td>
            <td id="start">
            #{list items:start, as:'s'}
                #{if s != ""}
                    <input class="autocompleteStation" type="text" name="start[]" value="${s}" onkeyup="check('start');"
                           data-url="@{Application.autocompleteStation()}"/>
                #{/if}
            #{/list}
                <input id="newstart" class="autocompleteStation" type="text" name="start[]" value=""
                       onkeyup="check('start');" data-url="@{Application.autocompleteStation()}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Link: <a
                        href="javascript:alert('Diese Auswahl legt fest, wie die Abfahrts- und die Zielhaltestellen behandelt werden sollen.\nVariante 1: Es werden Verbindungen für alle Abfahrtshaltestellen zu allen Zielhaltestellen gesucht.\nVariante 2: Es werden nur Verbindungen zwischen den Abfahrtshaltestellen und den darunter eingetragenen Zielhaltestellen gesucht.\n                  (Es müssen gleich viele Abfahrts- wie Zielhaltestelle angegeben werden.)')">[?]</a></label>
            </td>
            <td>
                <input type="radio" id="crossoverYes" name="crossover" value="true"#{if crossover!='false'}
                       checked#{/if}>
                <label for="crossoverYes"><img src="/public/images/mix.png"
                                               alt="A&rarr;X | B&rarr;X | A&rarr;Y | B&rarr;Y"
                                               title="A&rarr;X | B&rarr;X | A&rarr;Y | B&rarr;Y"></label>
                <input type="radio" id="crossoverNo" name="crossover" value="false"#{if
                crossover=='false'}checked#{/if}>
                <label for="crossoverNo"><img src="/public/images/straight.png"
                                              alt="A&rarr;X | B&rarr;Y"
                                              title="A&rarr;X | B&rarr;Y"></label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="newstop">Nach:</label>
            </td>
            <td>
                <div id="stop">
                #{list items:stop, as:'s'}#{if s != ""}
                    <input class="autocompleteStation" type="text" name="stop[]" value="${s}"
                           onkeyup="check('stop');" data-url="@{Application.autocompleteStation()}"/>
                #{/if}#{/list}
                    <input class="autocompleteStation" id="newstop" type="text" name="stop[]" value=""
                           onkeyup="check('stop');" data-url="@{Application.autocompleteStation()}"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="time">Zeit:</label>
            </td>
            <td>
                <input id="time" type="time" name="time"
                       value="#{if time?.size()>3}${time}#{/if}#{else}${now}#{/else}"
                       maxlength="5" style="width:50px;"/>
                <input id="timeAsDeparture" type="checkbox" name="timeAsDeparture" value="true"#{if
                timeAsDeparture!='false'}
                       checked#{/if}/><label for="timeAsDeparture">als Abfahrtszeit</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <button type="submit"> Submit</button>
            </td>
        </tr>
    </table>

</form>

<script type="text/javascript">
    function addField(ofType) {
        field = document.createElement("input");
        field.setAttribute("class", "autocompleteStation");
        field.setAttribute("type", "text");
        field.setAttribute("name", ofType + "[]");
        field.setAttribute("onkeyup", "check('" + ofType + "');");
        field.setAttribute("data-url", "@{Application.autocompleteStation()}");
        field.setAttribute("style", "margin-right:2px;");
        document.getElementById(ofType).appendChild(field);
        autocomplete();
    }

    function check(whatToCheck) {
        var needAlignement = document.getElementById("crossoverNo").checked;
        if (needAlignement) {
            var starts = document.getElementById("start").getElementsByTagName("input");
            var stops = document.getElementById("stop").getElementsByTagName("input");
            var doubleEmptyFieldPresent = true;
            if (starts.length < stops.length) {
                for (var j = stops.length - starts.length; j > 0; j--) {
                    addField("start");
                }
            } else if (starts.length > stops.length) {
                for (var jj = starts.length - stops.length; jj > 0; jj--) {
                    addField("stop");
                }
            } else {
                doubleEmptyFieldPresent = starts[starts.length - 1].value == "" && stops[stops.length - 1].value == "";
                for (var ii = starts.length - 2; ii >= 0; ii--) {
                    if (starts[ii].value == "" && stops[ii].value == "" && starts[ii + 1].value == "" && stops[ii + 1].value == "" && document.getElementById("start").getElementsByTagName("input").length > 2) {
                        document.getElementById("start").removeChild(starts[ii]);
                        document.getElementById("stop").removeChild(stops[ii]);
                        doubleEmptyFieldPresent = true;
                    }
                }
                if (!doubleEmptyFieldPresent) {
                    addField("start");
                    addField("stop");
                }
            }
        } else {
            var inputs = document.getElementById(whatToCheck).getElementsByTagName("input");
            var emptyField = -1;
            for (var i = inputs.length - 1; i >= 0; i--) {
                if (inputs[i].value == "") {
                    if (emptyField == i + 1 && document.getElementById(whatToCheck).getElementsByTagName("input").length > 2) {
                        document.getElementById(whatToCheck).removeChild(inputs[emptyField]);
                    }
                    emptyField = i;
                }
            }
            if (emptyField == -1) {
                addField(whatToCheck);
            }
        }
    }

    function autocomplete() {
        $('input.autocompleteStation').each(function () {
            var $input = $(this);
            var serverUrl = $input.data('url');
            $input.autocomplete({ source:serverUrl });
        });
    }
    autocomplete();
</script>