*{
* Copyright 2011, L. Murer.
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see < http://www.gnu.org/licenses/ >.
}*

#{extends 'main.html' /}
#{set title:'Home' /}

<div class="content">

    <h1>Advanced Public Transport Timetables</h1>

    <p>Auf dieser Seite können Sie spezialisierte Abfragen für den öffentlichen Verkehr durchführen.</p>
    <ol>
        <li><b>Mehrere Verbindungen:</b> Verbindungsabfrage mit der von einer oder mehreren Abfahrthaltestellen zu einer
            oder mehreren Zielhaltestellen eine Fahrplantabelle getätigt werden kann. Beispielsweise:
            <ul>
                <li>Ich suche eine Verbindung von Maschwanden nach Luzern. Soll ich den Zug <a
                        href="http://map.search.ch/d/jringi3mz">ab Mettmenstetten oder ab Mühlau</a> nehmen? <span
                        class="likealink">(</span><a
                        href="@{Application.showTimetable('sbb')}?start%5B%5D=Mettmenstetten&start%5B%5D=M%C3%BChlau&start%5B%5D=&crossover=true&stop%5B%5D=Luzern&stop%5B%5D=&timeAsDeparture=true">Antwort</a><span
                        class="likealink">)</span>
                </li>
                <li>Ich komme mit dem Zug in Zürich HB an. Um nach Hause zu kommen, soll ich das Tram <a
                        href="http://map.search.ch/d/dm1yzu2nt">nach Zürich Birchstrasse oder eine S-Bahn nach Zürich
                    Oerlikon</a> nehmen? <span class="likealink">(</span><a
                        href="@{Application.showTimetable('sbb')}?start%5B%5D=Z%C3%BCrich+HB&start%5B%5D=Z%C3%BCrich%2C+Bahnhofquai%2FHB&start%5B%5D=&crossover=false&stop%5B%5D=Z%C3%BCrich+Oerlikon&stop%5B%5D=Z%C3%BCrich%2C+Regensbergbr%C3%BCcke&stop%5B%5D=&timeAsDeparture=true">Antwort</a><span
                        class="likealink">)</span>
                </li>
            </ul>
        </li>
    </ol>

    <h3>Um eine Anfrage zu starten, Schritt 1 - Bahnanbieter wählen:</h3>


    Liste der Bahnanbieter: <select size="1" onchange="window.location.href=this.value">
    <option value="">-------- Wählen --------</option>
    #{list items:provider, as:'s'}
    <option value="@{Application.selectTimetable(s.id)}">${s.humanName}</option>
    #{/list}
</select>

    <noscript>
        <ul>
            <li>
                #{list items:provider, as:'s'}
                <a href="@{Application.selectTimetable(s.id)}">${s.humanName}</a>
                #{/list}
            </li>
        </ul>
    </noscript>
</div>
