*{
* Copyright 2011, L. Murer.
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see < http://www.gnu.org/licenses/ >.
}*

#{extends 'main.html' /}
#{set title:(starts?.join("&#44 ").replace(",","")+" &rarr; "+stops?.join("&#44 ").replace(",","")).raw() /}
#{set "moreNavigation"}
<tr>
    <td><span><a href="@{Application.index()}?${request.querystring}">Abfrage ändern</a></span></td>
</tr>
<tr>
    <td style="height: 200px;"><span style="left: -80px; width: 200px;"><a
            href="@{Application.showTimetable()}?#{my.remove '&amp;time=\\+?[0-9]{0,2}%3A[0-9]{0,2}\\+*'}${request.querystring}#{/my.remove}">zu
        aktueller Uhrzeit</a></span></td>
</tr>
#{/set}

<h2>Verbindungen von ${starts?.join("&#44 ").replace(",","").raw()}
    nach ${stops?.join("&#44 ").replace(",","").raw()}</h2>
<table id="fahrplantabelle" border="0" style="width:auto;">
#{list items:connections, as:'connection'}
    <tr class="${connection_parity}">
        <td>
        ${connection?.departureTime?.format("HH:mm")} - ${connection?.arrivalTime?.format("HH:mm")}
        </td>
        <td>
            <span style="color:silver;">(#{my.getDuration dt:connection?.departureTime, at:connection?.arrivalTime/}
                )</span>
        </td>
        <td>
        ${connection?.from?.name}
            #{my.isit connection?.parts[0], a:'Trip'}#{if connection?.parts[0]?.departurePosition}<span
                    style="color:silver;">(Gleis ${connection?.parts[0]?.departurePosition})</span>#{/if}#{/my.isit}
        </td>
        <td>&rarr;</td>
        <td>
        ${connection?.to?.name}
            #{my.isit connection?.parts[connection?.parts?.size-1], a:'Trip'}#{if
            connection?.parts[connection?.parts?.size-1]?.arrivalPosition}<span
                        style="color:silver;">(Gleis ${connection?.parts[connection?.parts?.size-1]?.arrivalPosition}
                    )</span>#{/if}#{/my.isit}
        </td>
        <td style="width:99%; text-align:center;">
            #{if connection?.parts?.size>1}
                <a href="#"
                   onclick="this.innerHTML='';document.getElementById('details_${connection_index}').style.display='';return false;">Umsteigedetails</a>
            #{/if}
        </td>
    </tr>
    <tr id="details_${connection_index}" style="display:none;" class="${connection_parity}">
        <td colspan="5" align="right">
            #{if connection?.parts?.size>1}
                #{my.getVias connection.parts/}
                #{/if}
        </td>
    </tr>
#{/list}
</table>