*{
* Copyright 2011, L. Murer.
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see
<http://www.gnu.org/licenses/>.
}*

#{extends 'main.html' /}
#{set title:'Home' /}
<div class="content">
    <a href="@{Application.index()}">Bahnanbieter w&auml;hlen</a> &gt; <a
        href="@{Application.selectTimetable(params.provider)}?${request.querystring}">Abfrage &auml;ndern</a>
</div>
<div class="content">
    <h1>Fahrpl&auml;ne</h1>
    <table id="fahrplantabelle" border="0" style="width:auto;">
        #{list items:connections, as:'connection'}
        <tr class="${connection_parity}">
            <td>
                ${connection?.departureTime?.format("HH:mm")} - ${connection?.arrivalTime?.format("HH:mm")}
            </td>
            <td>
                ${connection?.from?.name}
                #{my.isit connection?.parts[0], a:'Trip'}#{if connection?.parts[0]?.departurePosition}<span
                    style="color:silver;">(Gleis ${connection?.parts[0]?.departurePosition})</span>#{/if}#{/my.isit}
            </td>
            <td>&rarr;</td>
            <td>
                ${connection?.to?.name}
                #{my.isit connection?.parts[connection?.parts?.size-1], a:'Trip'}#{if
                connection?.parts[connection?.parts?.size-1]?.arrivalPosition}<span style="color:silver;">(Gleis ${connection?.parts[connection?.parts?.size-1]?.arrivalPosition})</span>#{/if}#{/my.isit}
            </td>
            <td style="width:99%; text-align:center;">
                #{if connection?.parts?.size>1}
                <a href="#"
                   onclick="this.innerHTML='';document.getElementById('details_${connection_index}').style.display='';return false;">Umsteigedetails</a>
                #{/if}
            </td>
        </tr>
        <tr id="details_${connection_index}" style="display:none;" class="${connection_parity}">
            <td colspan="5" align="right">
                #{if connection?.parts?.size>1}
                #{my.getVias connection.parts/}
                #{/if}
            </td>
        </tr>
        #{/list}
    </table>
</div>

