@*
* Copyright 2013, L. Murer.
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see < http://www.gnu.org/licenses/ >.
*@

@(title: Html, styles: Html=Html(""), scripts: Html=Html(""), navigation: Html=Html(""))(content: Html)
<!DOCTYPE html>

<!--
  Copyright 2013, L. Murer.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see < http://www.gnu.org/licenses/ >.
  -->

<html>
<head>
    <title>@title</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=900">
    <link rel="shortcut icon" href='@routes.Assets.at("/public","images/logo.png")'>
    <link rel="apple-touch-icon" href='@routes.Assets.at("/public","images/apple-touch-icon.png")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("/public","stylesheets/main.css")'>
    @styles
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-82988-7']);
        _gaq.push(['_trackPageview']);
        (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
        '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
        })();
    </script>
    @scripts
</head>
<body>
<div class="navi">
    <a href="@routes.Application.index()">Neue Abfrage</a>
    @navigation
    <a href="@routes.FAQ.show()" class="faq">FAQ</a>
</div>
<div class="content">
    <table border="0">
        <tr>
            <td><a href="@routes.Application.index()"><img src='@routes.Assets.at("/public","images/logo.png")'
                                                           width="80" height="80"
                                                           alt="schneller-dort.ch" border="0"></a></td>
            <td><h1>Der effiziente Fahrplan</h1></td>
        </tr>
    </table>
    @content
</div>
<div class="footer likealink">@tags.FastTags.getCurrentTime(KnownProvider.getById("sbb"))</div>
</body>
</html>
