<!DOCTYPE html>
*{
* Copyright 2011, L. Murer.
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see < http://www.gnu.org/licenses/ >.
}*

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="shortcut icon" href="/public/images/logo.png">
    <link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-82988-6']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
                    '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
#{get 'moreScripts' /}
</head>
<body>
<table class="navi">
    <tr>
        <td><span><a href="@{Application.index()}">Neue Abfrage</a></span></td>
    </tr>
#{get 'moreNavigation'/}
    <tr>
        <td style="height: auto;"></td>
    </tr>
    <tr>
        <td style="height: 60px;"><span style="left: -10px; width: 60px;"><a
                href="@{Application.showFAQ()}">FAQ</a></span></td>
    </tr>
    <tr>
        <td style="height: 22px;"></td>
    </tr>
</table>
<div class="content">
    <table border="0">
        <tr>
            <td><img src="/public/images/logo.png" width="80" height="80" alt="schneller-dort.ch"></td>
            <td><h1>Der effiziente Fahrplan</h1></td>
        </tr>
    </table>
#{doLayout /}
</div>
<div class="content footer">
    <b>Disclaimer:</b> Diese Seite wurde von <a
        href="http://www.google.com/recaptcha/mailhide/d?k=019jW4xDWC-dVmVda4_5ZH6A==&amp;c=8nm0SBkIE8MYUc0gmE6EcA=="
        onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\075019jW4xDWC-dVmVda4_5ZH6A\75\75\46c\758nm0SBkIE8MYUc0gmE6EcA\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;">L.&nbsp;Murer</a>
    als Student der <a href="http://www.hsr.ch/">Fachhochschule Rapperswil</a> entwickelt. Sie wird in der Hoffnung zur
    Verfügung gestellt, dass sie nützlich ist - jedoch ohne irgendeiner Garantie. Sie unterliegt der <a
        href="http://www.gnu.org/licenses/">GNU General Public License version 3</a>. Sie ist kein offizieller Teil
    irgendeiner Bahnunternehmung.
    <div style="float:right; margin-left:10px" class="likealink"><span
            style="font-size:smaller;">#{my.getCurrentTime /}</span></div>

    <div style="clear:right;"></div>
</div>
</body>
</html>
