<!DOCTYPE html>
*{
* Copyright 2011, L. Murer.
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see < http://www.gnu.org/licenses/ >.
}*

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <meta name="viewport" content="width=400"/>
    <link rel="apple-touch-icon" href="/public/images/favicon.png"/>
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
    <script type="text/javascript">
        var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-82988-6']); _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
        '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    #{get 'moreScripts' /}
</head>
<body>
<img src="/public/images/sbb_background.jpg" alt="Quelle: http://www.flickr.com/photos/alex-photos/343600662/"
     class="header">
#{doLayout /}
<div class="content footer">
    <b>Disclaimer:</b> Diese Seite ist kein offizieller Teil irgendeiner Bahnunternehmung. Sie wurde von <a
        href="http://www.google.com/recaptcha/mailhide/d?k=019jW4xDWC-dVmVda4_5ZH6A==&amp;c=8nm0SBkIE8MYUc0gmE6EcA=="
        onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\075019jW4xDWC-dVmVda4_5ZH6A\75\75\46c\758nm0SBkIE8MYUc0gmE6EcA\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;">L.
    Murer</a> als
    Student der <a href="http://www.hsr.ch/">Fachhochschule Rapperswil</a> entwickelt. Sie wird in der Hoffnung zur
    Verfügung
    gestellt, dass sie nützlich ist - jedoch ohne irgendeiner Garantie. Sie unterliegt der <a
        href="http://www.gnu.org/licenses/">GNU General Public License version 3</a>.
</div>
</body>
</html>
